In [45]:
#imported libraries
import numpy as np 
import random as r
import pandas as pd

class korvai_specific:
    
    #Sample utarangams for each of these numeric counts (others can change/modify utarangams in this dictionary) 
    UTARANGAMS = {
        15: 'tadinginatom tadinginatom tadinginatom',
        17: 'tadinginatom, tadinginatom, tadinginatom',
        18: 'tadin,ginatom tadin,ginatom tadin,ginatom',
        19: 'tadinginatom taam, tadinginatom taam, tadinginatom',
        20: 'tadin,ginatom, tadin,ginatom, tadin,ginatom',
        21: 'ta,din,ginatom ta,din,ginatom ta,din,ginatom',
        22: 'tadin,ginatom taam, tadin,ginatom taam, tadin,ginatom',
        23: 'ta,din,ginatom, ta,din,ginatom, ta,din,ginatom',
        24: 'tatom,tadinginatom tatom,tadinginatom tatom,tadinginatom',
        25: 'ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom',
        26: 'tatom,tadinginatom, tatom,tadinginatom, tatom,tadinginatom',
        27: 'ta,din,gi,na,tom ta,din,gi,na,tom ta,din,gi,na,tom'
    }
    
    #This is the list of talams the program works on currently. 
    #You can add more talams by adding name_of_talam: number of counts in one avarthanam
    TALAMS = {
        'adi':32,
        'adi2':64,
        'rupakam':12,
        'misra chaapu':14,
        'khanda chaapu':10,
        'jumpa':40
    }
    
    #These are the two purvangams that we are working with in this specific korvai template
    PURVANGAM1 = ['tha,ki,ta,thakadina','tha,dhi,thakadina','dhi,thakadina','thakadina']
    PURVANGAM2 = ['tha,ka,di,na,thakadina','tha,ki,ta,thakadina','tha,dhi,thakadina','dhi,thakadina']
    
    #This is an array of karvais [4,3,2,1] we are working with as gaps between the purvangam konokol
    KARVAIS = np.arange(4,0,-1)
    
    #
    KARVAI_KONOKOL = {
        4:'thaam,;',
        3:'thaang,,',
        2:'thaam,',
        1:','
    }
    
    VIABLE_COUNTS = np.concatenate(([47],np.arange(49,80)))
    
    
    def __init__(self,talam,edam):
        self.talam = talam
        self.edam = edam
    
    def abc_combo(self,total):
        viable=[]
        for k in self.KARVAIS:
            #print(k)
            remaining1 = total - 28 - 4*k
            #print(remaining1)
            if remaining1 in self.UTARANGAMS.keys():
                    viable.append([28,k,remaining1])
            remaining2=total - 36 - 4*k
            if remaining2 in self.UTARANGAMS.keys():
                    viable.append([36,k,remaining2])
        return viable

    def korvai(self):
        talam = self.TALAMS[self.talam]
        korvai_options=[]
        final_list=[]
        for i in np.arange(20):
            num=talam*i+self.edam
            if num%3==0:
                if num/3 in self.VIABLE_COUNTS:
                    korvai_options.append(self.abc_combo(int(num/3)))
        for i in korvai_options:
            for j in i:
                final_list.append(j)
        return final_list

    def final_korvai(self):
        final_list = self.korvai()
        korvai_list=[]
        for i in final_list:
            korvai_str=''
            print('Repeat pattern 3 times: \n')
            korvai_str=''
            if i[0]==28:
                for p in self.PURVANGAM1:
                    print(p,self.KARVAI_KONOKOL[i[1]])
                    korvai_str=korvai_str+p+self.KARVAI_KONOKOL[i[1]]
                print(self.UTARANGAMS[i[2]],'\n','__________________','\n')
                korvai_str=korvai_str+self.UTARANGAMS[i[2]]

            elif i[0]==36:
                for p in self.PURVANGAM2:
                    print(p,self.KARVAI_KONOKOL[i[1]])
                    korvai_str=korvai_str+p+self.KARVAI_KONOKOL[i[1]]
                print(self.UTARANGAMS[i[2]],'\n','__________________','\n')
                korvai_str=korvai_str+self.UTARANGAMS[i[2]]
            korvai_list.append(korvai_str)
        if len(pd.DataFrame(korvai_list,columns={'korvai'}))==0:
            return 'impossible to make a korvai, maybe try singing an edam to edam korvai here'
        else:
            return pd.DataFrame(korvai_list,columns={'korvai'})

#The main method takes in a talam and edam (watch out for spelling of the talam LOL) and returns 1+ possible korvais
def main():
    
    talam = str(input('talam: '))
    edam = int(input('edam: '))
    my_korvai = korvai_specific(talam,edam)
    my_korvai.final_korvai()

if __name__ == "__main__":
    main()

talam: adi
edam: 2
Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
thakadina thaam,
tadin,ginatom tadin,ginatom tadin,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
thakadina ,
tadin,ginatom taam, tadin,ginatom taam, tadin,ginatom
 __________________

In [46]:
my_korvai = korvai_specific('adi',2)
df=my_korvai.final_korvai()
df

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
thakadina thaam,
tadin,ginatom tadin,ginatom tadin,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
thakadina ,
tadin,ginatom taam, tadin,ginatom taam, tadin,ginatom
 __________________

                                              korvai
0  tha,ki,ta,thakadinathaam,tha,dhi,thakadinathaa...
1  tha,ki,ta,thakadina,tha,dhi,thakadina,dhi,thak...

In [47]:
my_korvai = korvai_specific('rupakam',3)
df=my_korvai.final_korvai()
df

Repeat pattern 3 times:

tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
thakadina ,
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
thakadina thaam,
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
thakadina ,
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
thakadina thaang,,
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
thakadina thaam,
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
thakadina ,
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina ,
tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
thakadina thaam,;
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
thakadina thaang,,
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
thakadina thaam,
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,
tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina ,
tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
thakadina thaam,;
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
thakadina thaang,,
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaang,,
tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,
tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina ,
tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
thakadina thaam,;
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,;
tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
tadinginatom, tadinginatom, tadinginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaang,,
tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,
tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,;
tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
ta,din,ginatom ta,din,ginatom ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaang,,
tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,;
tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
ta,din,ginatom taam, ta,din,ginatom taam, ta,din,ginatom
 __________________

                                               korvai
0   tha,ki,ta,thakadina,tha,dhi,thakadina,dhi,thak...
1   tha,ki,ta,thakadinathaam,tha,dhi,thakadinathaa...
2   tha,ki,ta,thakadina,tha,dhi,thakadina,dhi,thak...
3   tha,ki,ta,thakadinathaang,,tha,dhi,thakadinath...
4   tha,ki,ta,thakadinathaam,tha,dhi,thakadinathaa...
5   tha,ki,ta,thakadina,tha,dhi,thakadina,dhi,thak...
6   tha,ka,di,na,thakadina,tha,ki,ta,thakadina,tha...
7   tha,ki,ta,thakadinathaam,;tha,dhi,thakadinatha...
8   tha,ki,ta,thakadinathaang,,tha,dhi,thakadinath...
9   tha,ki,ta,thakadinathaam,tha,dhi,thakadinathaa...
10  tha,ka,di,na,thakadinathaam,tha,ki,ta,thakadin...
11  tha,ka,di,na,thakadina,tha,ki,ta,thakadina,tha...
12  tha,ki,ta,thakadinathaam,;tha,dhi,thakadinatha...
13  tha,ki,ta,thakadinathaang,,tha,dhi,thakadinath...
14  tha,ka,di,na,thakadinathaang,,tha,ki,ta,thakad...
15  tha,ka,di,na,thakadinathaam,tha,ki,ta,thakadin...
16  tha,ka,di,na,thakadina,tha,ki,ta,thakadina,tha...
17  tha,ki,ta,thakadinathaam,;tha,dhi,thakadinatha...
18  tha,ka,di,na,thakadinathaam,;tha,ki,ta,thakadi...
19  tha,ka,di,na,thakadinathaang,,tha,ki,ta,thakad...
20  tha,ka,di,na,thakadinathaam,tha,ki,ta,thakadin...
21  tha,ka,di,na,thakadinathaam,;tha,ki,ta,thakadi...
22  tha,ka,di,na,thakadinathaang,,tha,ki,ta,thakad...
23  tha,ka,di,na,thakadinathaam,;tha,ki,ta,thakadi...

In [48]:
my_korvai = korvai_specific('misra chaapu',4)
df=my_korvai.final_korvai()
df

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
thakadina thaam,;
tadin,ginatom tadin,ginatom tadin,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaang,,
tha,dhi,thakadina thaang,,
dhi,thakadina thaang,,
thakadina thaang,,
tadin,ginatom taam, tadin,ginatom taam, tadin,ginatom
 __________________

Repeat pattern 3 times:

tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
thakadina thaam,
tatom,tadinginatom, tatom,tadinginatom, tatom,tadinginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,
tha,ki,ta,thakadina thaam,
tha,dhi,thakadina thaam,
dhi,thakadina thaam,
tadin,ginatom tadin,ginatom tadin,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina ,
tha,ki,ta,thakadina ,
tha,dhi,thakadina ,
dhi,thakadina ,
tadin,ginatom taam, tadin,ginatom taam, tadin,ginatom
 __________________

Repeat pattern 3 times:

tha,ka,di,na,thakadina thaam,;
tha,ki,ta,thakadina thaam,;
tha,dhi,thakadina thaam,;
dhi,thakadina thaam,;
tatom,tadinginatom tatom,tadinginatom tatom,tadinginatom
 __________________

                                              korvai
0  tha,ki,ta,thakadinathaam,;tha,dhi,thakadinatha...
1  tha,ki,ta,thakadinathaang,,tha,dhi,thakadinath...
2  tha,ki,ta,thakadinathaam,tha,dhi,thakadinathaa...
3  tha,ka,di,na,thakadinathaam,tha,ki,ta,thakadin...
4  tha,ka,di,na,thakadina,tha,ki,ta,thakadina,tha...
5  tha,ka,di,na,thakadinathaam,;tha,ki,ta,thakadi...